[Unit]
Description = Users Service
[Service]
Environment=SERVER_PORT=8080
ExecStart=/bin/java -jar /root/home/users/target/users-api-0.0.1.jar
SyslogIdentifier=users

[Install]
WantedBy=multi-user.target
